<div class="container-fluid g-0">
  <div class="row g-0">
      <div class="col-11">
          <h4> EDUCATION </h4>
      </div>
      <div class="col-1">
          <a href="#"><i class="bi bi-plus-square"></i></a>
      </div>

  </div>
  <ul>
    <li *ngFor="let educacion of educationList" class="row g-0">
        <div class="col-8 m-auto p-auto">
            <ul class="lista"><h5> {{educacion.university}}</h5>
                <p>{{educacion.titulo}}</p>
                <h6>{{educacion.fechaInicio}}-{{educacion.fechaFin}}</h6>
            </ul>
        </div>
        <div class="col-4 justify-content-center d-flex m-auto p-auto">
            <figure class="m-auto">
                <img [src]="educacion.imagen" alt="Unexpo" class="img-fluid">
            </figure>
            <div class="m-auto">
                <a href="#" class="" ><i class="bi bi-pencil-square"></i></a>
                <a href="#" class="" ><i class="bi bi-x-circle"></i></a>
            </div>
        </div>
    </li>
  </ul>


</div>

