<div class="container-fluid g-0">
  <div class="row g-0">
      <div class="col-11">
          <h4> WORK EXPERIENCE </h4>
      </div>
      <div class="col-1">
          <a href="#"><i class="bi bi-plus-square"></i></a>
      </div>
  </div>

  <ul *ngFor="let experiencia of experienceList" class="row g-0">
      <div class="col-8 d-flex">
          <ul> <h5>{{experiencia.trabajo}}</h5>

            <p>{{experiencia.descripcion}}</p>
            <h6>{{experiencia.fechaInicio}}-{{experiencia.fechaFin}}</h6>

          </ul>
      </div>
      <div class="col-4 justify-content-center d-flex m-auto p-auto">
          <figure class="m-auto">
              <img [src]="experiencia.imagen" alt="Edenor"  class="img-fluid">
          </figure>
          <div class="m-auto">
              <a href="#" class="" ><i class="bi bi-pencil-square"></i></a>
              <a href="#" class="" ><i class="bi bi-x-circle"></i></a>
          </div>
      </div>

  </ul>
</div>
