<div class="container-fluid g-0">
  <div class="row g-0">
      <div class="col-11">
          <h4> WORK EXPERIENCE </h4>
      </div>
      <div class="col-1">
          <a href="#"><i class="bi bi-plus-square"></i></a>
      </div>
  </div>

  <div class="row g-0">
      <div class="col-8 d-flex">
          <ul> <h5>{{miportfolio.experience.trabajo}}</h5>
                          <li> <p>Operate medium and high voltage equipments</li>
                          <li> <p>Supervise electrical teams</p></li>
                          <li> <p>Desing engineering details for synchronism projects</p></li>
                          <li> <p>Provide customer support</p></li>
          </ul>
      </div>
      <div class="col-4 justify-content-center d-flex m-auto p-auto">
          <figure class="m-auto">
              <img src="../assets/logo-Edenor-color.png" alt="Edenor"  class="img-fluid">
          </figure>
          <div class="m-auto">
              <a href="#" class="" ><i class="bi bi-pencil-square"></i></a>
              <a href="#" class="" ><i class="bi bi-x-circle"></i></a>
          </div>
      </div>

  </div>

  <div class="row g-0">
      <div class="col-8 d-flex">
                  <ul > <h5>Planner maintenance</h5>
                          <li> <p>Planning preventive and corrective maintenance using SAP-PM</li>
                          <li> <p>Develop maintenance indicators that allow evaluating trends and behavior of the equipment.</p></li>
                          <li> <p>Provide technical support to production</p></li>
                          <li> <p>Report status of equipments to the plant manager</p></li>
                  </ul>
      </div>
      <div class="col-4 justify-content-center d-flex m-auto p-auto">
          <figure class="m-auto">
              <img src="../assets/Logo-MontanaGrafica.png" alt="Logo-MontanaGrafica" class="img-fluid">
          </figure>
          <div class="m-auto">
              <a href="#" class="" ><i class="bi bi-pencil-square"></i></a>
              <a href="#" class="" ><i class="bi bi-x-circle"></i></a>
          </div>
      </div>
  </div>

  <div class="row g-0">
      <div class="col-8 d-flex  ">
                  <ul class="lista"> <h5>Support Engineer</h5>
                          <li> <p>Planning preventive and corrective maintenance for generator</li>
                          <li> <p>Programming electrical modules for generator set</p></li>
                          <li> <p>Desing engineering details for synchronism projects</p></li>
                          <li> <p>Provide customer support</p></li>
                      </ul>
      </div>
      <div class="col-4 justify-content-center d-flex m-auto p-auto">
          <figure class="m-auto">
              <img src="../assets/Logo-Sesa.png" alt="Logo-Sesa" class="img-fluid">
          </figure>
          <div class="m-auto">
              <a href="#" class="" ><i class="bi bi-pencil-square"></i></a>
              <a href="#" class="" ><i class="bi bi-x-circle"></i></a>
          </div>
      </div>
  </div>
</div>
