<div class="container-fluid g-0">
  <div class="row g-0">
      <h4>PROYECTS</h4>
      <div class="d-flex ">
          <h5 class="text-center m-auto p-auto">Web Full Stack Portfolio</h5>
          <ul >
              <li class="project">Design a web portfolio with a descentralized arquitecture. Desing the FrontEnd using HTML, CSS, Boostrap, Angular and TypeScript.  </li>
              <li class="project">Design a Database usin MySQL.</li>
              <li class="project">Create and desing the APIs needed (BackEnd) to conect with the FrontEnd.</li>
          </ul>
      </div>
  </div>
</div>
