<header class="container-fluid position-relative g-0">

  <div id="banner" class="row g-0 " >

      <div class="col-3" id="logo_ArgentinaPrograma">
          <figure>
              <img src="../assets/Logo Argentina Programa.png" alt="logo_ArgentinaPrograma" class="img-fluid">
          </figure>
      </div>

      <div class="me-auto col-3 p-2 ">
          <i><p>#YoProgramo</p></i>
      </div>

      <div class="col-7 text-end py-3 px-2 mx-2" id="redes_Sociales">
          <a href="https://www.linkedin.com/in/haraujom/" target="_blank"><i class="bi bi-linkedin p-xl-1"></i></a>
          <a href="https://www.facebook.com/toy.araujo" target="_blank"><i class="bi bi-facebook p-xl-1"></i></a>
          <a href="#"><i class="bi bi-whatsapp p-xl-1"></i></a>
          <a href="#"><i class="bi bi-discord p-xl-1"></i></a>
          <a href="#"><i class="bi bi-box-arrow-in-right p-xl-1"></i></a>
      </div>

  </div>

  <div class=" d-md-block d-none  position-absolute top-50 start-50 text-end">
      <a href="#"><i class="bi bi-pencil"></i></a>
  </div>
  


</header>
